// main
$blue: #049fd9;
$river-blue: #097dbc;
$dark-blue: #024259;
$white: #fff;
$light-blue: #eff8fc;
$dark-gray: #58585b;

// status
$green: #6cc04a;
$orange: #faa000;
$red: #cf2030;

// greys
$light-gray-1: #fafafa;
$light-gray-2: #f6f6f6;
$light-gray-3: #e9e9e9;
$med-gray-1: #c6c7ca;
$med-gray-2: #9e9ea2;
$med-gray-3: #7f7f86;

$disabled-opacity: 0.5;
