* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
 }

 ul {
   list-style-type: none;
 }

 /* Elements */

 .ContactList {
   margin: auto;
   width: 50%;
 /*   border: 5px solid green; */
 }

 .ContactList ul li {
  border-bottom: 1px solid #B0BEC5;
 }

 // Hide border for the last Contact element
.ContactList ul li:nth-last-child(1) {
  border: none;
}

 .Contact {
   display: flex;
   justify-content: space-evenly;
   background-color: #ECEFF1;
 /*   border: 2px solid blue; */
 }

 .Photo {
   border-radius: 50%;
   margin: 15px auto 15px auto;
   border: 0.3vw solid white;
   width: 20%;
   height: 20%;
 }

 .ContactInfo {
   margin: 15px;
   width: 60%;
   height: 80%;
   margin: auto;
 }

.ContactName {
  font-size: 3vw;
  color: #37474F;
}

 .Email, .PhoneNumber {
   font-size: 1.3vw;
   font-weight: 100;
   color: #B0BEC5;
 }


//  Buttons Styling
button,
input[type=submit] {
  text-align: center;
  user-select: none;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.80);
  border: none rgba(0, 0, 0, 0);
  background-color: #ECEFF1;
  border-radius: 2px;
  margin: 0px 15px 10px 0;
}

button:hover {
    background-color: #eceff173;
}

button:focus {
  outline: none;
}

button:active {
    background-color: #ECEFF1;
}