* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
 }

 ul {
   list-style-type: none;
 }

 /* Elements */

 .ContactList {
   margin: auto;
   width: 50%;
 /*   border: 5px solid green; */
 }

 .ulContacts li {
  border-bottom: 1px solid #B0BEC5;
 }

 // Hide border for the last Contact element
.ContactList ul li:nth-last-child(1) {
  border: none;
}

 .Contact {
   display: flex;
   justify-content: space-evenly;
   background-color: #ECEFF1;
 /*   border: 2px solid blue; */
 }

 .Photo {
   border-radius: 50%;
   margin: 15px auto 15px auto;
   border: 0.3vw solid white;
   width: 20%;
   height: 20%;
 }

 .ContactInfo {
   margin: 15px;
   width: 60%;
   height: 80%;
   margin: auto;
 }

.ContactName {
  font-size: 3vw;
  color: #37474F;
  margin-top: 1vw;
}

 .Email, .PhoneNumber {
   font-size: 1.3vw;
   font-weight: 100;
   color: #B0BEC5;
 }

 .PhoneNumber {
   margin-bottom: 1.8vw;
 }

 .AddContact>form {
   padding: 1vw 5vw 2vw 5vw;
 }

.AddContact input {
  border: none;
  border-bottom: 1px solid #B0BEC5;
  background-color: #fafafa;
  padding: 5px;
  margin-bottom: 10px;
  height: 2.5vw;
}

.AddContact input:focus {
  outline:none;
}

button,
input[type=submit] {
  text-align: center;
  user-select: none;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.80);
  border: none rgba(0, 0, 0, 0);
  background-color: #ECEFF1;
  border-radius: 2px;
  margin: 0 15px 10px 0;
  min-height: 32px;
}

button:hover,
input[type=submit]:hover {
  background-color: #eceff173;
}

button:focus,
input[type=submit]:focus {
outline: none;
}

button:active,
input[type=submit]:active {
  background-color: #ECEFF1;
}


//--------FORM---------

.formList li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.formList > li > label,
.formList > li > input[type=text],
.formList > li > input[type=tel],
.formList > li > input[type=email],
.formList > li > input[type=url] {
  font-size: 1.5em;
  font-weight: 100;
}

.formList > li > label {
  max-width: 220px;
  flex: 2;
}

.formList > li > input{
  flex: 1;
}

.formList > li > input[type=submit] {
  margin: 20px 15px 10px 15px;
}

//--------END FORM---------